In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('lagos.csv')

FileNotFoundError: [Errno 2] File b'lagos.csv' does not exist: b'lagos.csv'

In [11]:
df.dropna()

,DATE,REFERENCE NUMBER,DESCRIPTION,DEBIT,CREDIT,BALANCE
2,21/11/2016,566,SALES,5395000.0,0.0,5873450.0
3,21/11/2016,569,SALES,6858500.0,0.0,12731950.0
10,20/12/2016,1251,SALES,1861500.0,0.0,13689430.0
12,22/12/2016,8,return inward,0.0,6173700.0,7214480.0
14,15/01/2017,1597,SALES,880000.0,0.0,8044480.0
...,...,...,...,...,...,...
151,06/04/2018,14,return inward,0.0,10500.0,11245705.0
154,19/10/2016,008a,SALES,148000.0,0.0,148000.0
155,20/10/2016,014a,SALES,296000.0,0.0,444000.0
161,29/10/2016,14,SALES,64000.0,0.0,319030.0
162,31/10/2017,20,SALES,36150.0,0.0,355180.0

In [8]:
df.drop(['DATE','REFERENCE NUMBER', 'DESCRIPTION'],axis='columns')

         DEBIT    CREDIT     BALANCE
0     494450.0       0.0    494450.0
1          0.0   16000.0    478450.0
2    5395000.0       0.0   5873450.0
3    6858500.0       0.0  12731950.0
4          0.0  104650.0  12627300.0
..         ...       ...         ...
161    64000.0       0.0    319030.0
162    36150.0       0.0    355180.0
163        0.0   38400.0    316780.0
164        0.0   22651.0    294129.0
165        0.0   30769.0    263360.0

[166 rows x 3 columns]

In [12]:
model = linear_model.LinearRegression()
model.fit(df[['DEBIT','CREDIT']],df.BALANCE)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [15]:
df

,Unnamed: 0,Time,Home Team,Away Team,Home Odds,Draw Odds,Away Odds
0,30,2019-12-21 11:30:00,Perth Glory FC,Newcastle United,1.58,3.52,4.97
1,32,2019-12-21 11:30:00,Persela Lamongan,Semen Padang FC,1.47,3.81,5.85
2,33,2019-12-21 11:30:00,Persebaya Suraba,Perseru Badak La,1.22,5.56,10.30
3,31,2019-12-21 11:30:00,Persepar Kalteng,Persija Jakarta,2.91,2.83,2.32
4,34,2019-12-21 13:00:00,Lazio Roma,ACF Fiorentina,2.83,3.16,2.21
...,...,...,...,...,...,...,...
100,25,2019-12-22 19:30:00,Tottenham Hotspur,Chelsea FC,2.29,3.05,2.93
101,26,2019-12-22 20:30:00,UD Levante,RC Celta de Vigo,2.60,2.93,2.48
102,27,2019-12-22 22:45:00,US Sassuolo Calcio,SSC Napoli,4.79,3.64,1.63
103,28,2019-12-22 23:00:00,Real Madrid,Athletic Bilbao,1.38,4.24,8.82
104,29,2020-01-19 20:00:00,SC Paderborn 07,Bayer 04 Leverkusen,5.14,3.95,1.55

In [17]:
df.head()

,Unnamed: 0,Time,Home Team,Away Team,Home Odds,Draw Odds,Away Odds
0,30,2019-12-21 11:30:00,Perth Glory FC,Newcastle United,1.58,3.52,4.97
1,32,2019-12-21 11:30:00,Persela Lamongan,Semen Padang FC,1.47,3.81,5.85
2,33,2019-12-21 11:30:00,Persebaya Suraba,Perseru Badak La,1.22,5.56,10.30
3,31,2019-12-21 11:30:00,Persepar Kalteng,Persija Jakarta,2.91,2.83,2.32
4,34,2019-12-21 13:00:00,Lazio Roma,ACF Fiorentina,2.83,3.16,2.21

     Unnamed: 0              Time  Home Odds  Draw Odds  Away_odds
0            30  21/12/2019 11:30       1.58       3.52       4.97
1            32  21/12/2019 11:30       1.47       3.81       5.85
2            33  21/12/2019 11:30       1.22       5.56      10.30
3            31  21/12/2019 11:30       2.91       2.83       2.32
4            34  21/12/2019 13:00       2.83       3.16       2.21
..          ...               ...        ...        ...        ...
100          25  22/12/2019 19:30       2.29       3.05       2.93
101          26  22/12/2019 20:30       2.60       2.93       2.48
102          27  22/12/2019 22:45       4.79       3.64       1.63
103          28  22/12/2019 23:00       1.38       4.24       8.82
104          29  19/01/2020 20:00       5.14       3.95       1.55

[105 rows x 5 columns]

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
model.coef_

array([-1.02952603,  3.24748214])

In [27]:
model.intercept_

-4.126196681372181